.chinhsach{
    background-color: #fff;
    color: #2C5364;
}
.csitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.csitem p{
    font-size: 18px;
}