.infoUsb{
    padding:20px 0px;
    overflow-x: hidden;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.infoUsb img{
    border:7px solid #fff;
}
.infoUsb h1{
    margin-bottom:20px ;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infoUsb h4{
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}
.infoUsb button{
    padding:10px 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.font-info{
    font-size: 20px;
}
.a{
    background-color: bisque;
    color: black;
    border-radius: 20px;
    padding: 5px 5px;
}