.phanhoi{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:20px 0px;
}
.card{
    margin-bottom: 20px;
}
.card-title{
    color: red;
    font-family:'Oswald', sans-serif;
}
.card-text{
    font-style: italic;
}
.card-subtitle{
    border-bottom: 1px solid red;
}
.tuvanngay{
    padding:10px 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}