.form{
    position: fixed;
    width: 100%;
    padding: 50px 50px;
    color: #ffffff;
    z-index: 99 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.form Form{
    background-color: rgba(0, 0, 0, 1);
    padding: 20px 100px;
    width: 50%;
}
.exit{
    width: 100%;
}
.exit button{
    border: none;
    cursor: pointer;
}
@media only screen and (max-width: 812px) {
    .form Form{
        width: 100%;
        padding:30px 20px;
        border-radius: 10px;
    }
    .form{
        padding:10px 10px;
        background-color:rgba(0, 0, 0, 0.5);
    }
  } 